@font-face {
  font-family: 'MainFont';
  src: url("../fonts/ForosWeb-Medium.otf");
  src: local('☺'), url("../fonts/ForosWeb-Medium.otf") format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'MainFont';
  src: url("../fonts/ForosWeb-Regular.otf");
  src: local('☺'), url("../fonts/ForosWeb-Regular.otf") format('truetype');
  font-weight: normal;
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-close,
.fotorama__video-play {
  background-image: url("../plugins/fotorama.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .fotorama__arr,
  .fotorama__fullscreen-icon,
  .fotorama__video-close,
  .fotorama__video-play {
    background-image: url("../images/plugins/fotorama@2x.png");
  }
}
.row.no-padding {
  padding: 0;
}
.row.no-padding > div {
  padding: 0;
}
html {
  min-height: 100%;
  height: 100%;
}
body {
  font-family: 'MainFont', 'Helvetica Neue', 'Arial', sans-serif;
  height: 100%;
  background: #edf5f7;
}
.container {
  width: 1077px;
  position: relative;
}
a {
  -webkit-transition-property: color, background-color, border-radius, box-shadow, border-radius;
  -moz-transition-property: color, background-color, border-radius, box-shadow, border-radius;
  -o-transition-property: color, background-color, border-radius, box-shadow, border-radius;
  -ms-transition-property: color, background-color, border-radius, box-shadow, border-radius;
  transition-property: color, background-color, border-radius, box-shadow, border-radius;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
a:focus,
input:focus,
select:focus {
  outline: none;
  text-decoration: none;
}
.header {
  float: left;
  width: 100%;
  padding: 22px 0;
}
.header__logo img {
  max-width: 129px;
}
.header__search {
  float: left;
  width: 100%;
  width: 388px;
  margin-left: 10px;
  position: relative;
}
.header__search-text {
  float: left;
  float: left;
  width: 100%;
  height: 37px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  padding: 0 35px 0 10px;
  font-size: 18px;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25);
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25);
}
.header__search-text::-webkit-input-placeholder {
  color: #aebfc9;
}
.header__search-submit {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 0;
  right: 10px;
  top: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url("../images/search.png") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.header__search-description {
  float: left;
  width: 100%;
  color: #a7b6ba;
  font-size: 13px;
  line-height: 35px;
}
.header__contacts {
  float: left;
  width: 100%;
}
.header__contacts-icon {
  float: left;
  width: 35px;
  margin-left: 5px;
  height: 37px;
  background: transparent url("../images/phone.png") center center no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.header__contacts-frame {
  margin-left: 10px;
  float: left;
  width: 195px;
}
.header__contacts-number {
  float: left;
  width: 100%;
  font-size: 18px;
  color: #484f67;
  font-weight: bold;
  line-height: 16px;
}
.header__contacts-number span {
  margin: 0 7px;
}
.header__contacts-number--last {
  letter-spacing: 1px;
}
.header__contacts-number:hover {
  text-decoration: none;
  color: #484f67;
}
.header__call {
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #3c3c3c;
  cursor: pointer;
  text-decoration: none;
  background: -webkit-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -moz-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -o-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -ms-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: linear-gradient(to top, #1055c7 0%, #3f88ec 100%);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  float: left;
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
}
.header__call:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
  box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
}
.header__call:focus {
  color: #fff;
}
.navbar {
  float: left;
  width: 100%;
}
.navbar .row {
  -webkit-box-shadow: 0 0 10px rgba(71,121,172,0.5);
  box-shadow: 0 0 10px rgba(71,121,172,0.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
}
.navbar-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  color: #273f55;
  line-height: 30px;
  position: relative;
  top: -2px;
  padding: 2px 26px 1px;
}
.navbar-item:hover {
  color: #007fca;
  text-decoration: none;
}
.navbar-item--active {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #2d73dd;
  -webkit-box-shadow: inset 1px 1px 3px rgba(12,51,115,0.97);
  box-shadow: inset 1px 1px 3px rgba(12,51,115,0.97);
  color: #fff;
  top: -1px;
}
.navbar-item--active:hover {
  color: #fff;
}
.navbar .breadcrumbs {
  float: left;
  width: 100%;
  background: #616d80;
  height: 53px;
  color: #fff;
  font-size: 13px;
  line-height: 53px;
  -webkit-border-radius: 0 0px 5px 5px;
  border-radius: 0 0px 5px 5px;
}
.frame {
  margin-right: -15px;
  margin-left: -15px;
}
.block {
  float: left;
  width: 100%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  line-height: 16px;
  font-size: 14px;
  -webkit-box-shadow: 0 0 10px rgba(71,121,172,0.5);
  box-shadow: 0 0 10px rgba(71,121,172,0.5);
}
.block.main {
  margin-top: 10px;
  padding: 30px 20px;
}
.block.main .content {
  min-height: 789px;
  position: relative;
  padding-right: 45px;
}
.block.main .content:after {
  position: absolute;
  right: 15px;
  top: 0;
  height: 100%;
  content: "";
  border-right: 1px #becbd7 solid;
}
.block.faq {
  min-height: 278px;
}
.block .row {
  margin-right: -10px;
  margin-left: -10px;
}
.block .row > div {
  padding: 0 10px;
}
.block small {
  line-height: 25px;
  font-size: 12px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.block small.date {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #0075c8;
  margin-top: -10px;
  float: left;
  width: 100%;
}
.block p {
  color: #1d2a3a;
}
.block p.gray {
  color: #515050;
}
.block p:last-of-type {
  margin-bottom: 0;
}
.block p.highlight {
  font-size: 16px;
  margin-top: 15px;
  line-height: 20px;
}
.block a {
  text-decoration: underline;
}
.block a.title {
  font-size: 16px;
  color: #000;
  line-height: 22px;
  margin-bottom: 15px;
}
.block a.title:hover {
  color: #1381c7;
}
.block a.ask {
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #3c3c3c;
  cursor: pointer;
  text-decoration: none;
  background: -webkit-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -moz-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -o-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -ms-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: linear-gradient(to top, #1055c7 0%, #3f88ec 100%);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  height: 41px;
  text-decoration: none;
  margin-top: 15px;
  line-height: 41px;
  float: left;
  width: 100%;
}
.block a.ask:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
  box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
}
.block a.ask:focus {
  color: #fff;
}
.block a.ask.top {
  margin-top: -13px;
}
.block .big-line-height {
  line-height: 22px;
}
.block img {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.block img.number {
  max-width: 45px;
}
.block h3 {
  margin-top: 3px;
  font-size: 23px;
  font-weight: normal;
  line-height: 24px;
}
.block .select {
  float: left;
  width: 100%;
  position: relative;
}
.block .select .trigger {
  -webkit-border-radius: 0;
  border-radius: 0;
  position: absolute;
  top: 35px;
  right: 15px;
}
.block .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 20px 0 28px 0;
  height: 41px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  float: left;
  width: 100%;
  line-height: 41px;
  font-size: 16px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
  padding: 0 15px;
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.3), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.3), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  background: -webkit-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -moz-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -o-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -ms-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: linear-gradient(to top, #b5c1cd 0%, #d3dde7 100%);
}
.block h1 {
  font-size: 28px;
  margin-top: -10px;
  font-weight: normal;
  margin-bottom: 25px;
}
.block h2 {
  font-size: 24px;
  color: #0057bd;
  line-height: 22px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 30px;
}
.block .news-list_item {
  float: left;
  width: 100%;
  margin: 20px 0;
}
.block .news-list_item-date {
  float: left;
  width: 100%;
  font-size: 12px;
  color: #0078d2;
  margin-bottom: 5px;
}
.block .news-list_item-title {
  font-size: 18px;
  color: #000;
  margin-bottom: 15px;
  float: left;
  clear: both;
}
.block .news-list_item-title:hover {
  color: #1381c7;
}
.block .news-list_item-text {
  float: left;
  width: 100%;
  font-size: 14px;
  color: #1d2a3a;
  width: 95%;
}
.block .news-list_item-text iframe {
  margin: 20px 0;
}
.block .news-list_item-back {
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #3c3c3c;
  cursor: pointer;
  text-decoration: none;
  background: -webkit-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -moz-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -o-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -ms-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: linear-gradient(to top, #1055c7 0%, #3f88ec 100%);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  line-height: 26px;
  height: 26px;
  padding: 0 15px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  clear: both;
  font-size: 12px;
}
.block .news-list_item-back:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
  box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
}
.block .news-list_item-back:focus {
  color: #fff;
}
.block .news-list_item-back img {
  vertical-align: baseline;
  margin-right: 5px;
}
.block .news-list_item__text .news-list_item-title:hover {
  color: #000;
}
.block .news-list_item__text .news-list_item-text {
  line-height: 20px;
}
.block .faq-list_item {
  float: left;
  width: 100%;
  -webkit-transition-property: min-height;
  -moz-transition-property: min-height;
  -o-transition-property: min-height;
  -ms-transition-property: min-height;
  transition-property: min-height;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  min-height: 0;
  margin: 0px 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #67cff4;
  padding-left: 4px;
}
.block .faq-list_item:first-of-type {
  padding-top: 20px;
  border-top: 1px solid #67cff4;
}
.block .faq-list_item-date {
  float: left;
  width: 100%;
  font-size: 12px;
  color: #0078d2;
  margin-bottom: 10px;
}
.block .faq-list_item-author {
  font-size: 12px;
  color: #515050;
}
.block .faq-list_item-trigger {
  float: left;
  clear: both;
  color: #0078d2;
  font-size: 12px;
  text-decoration: none;
  border-bottom: 1px dashed #0078d2;
}
.block .faq-list_item-trigger .hiden {
  display: none;
}
.block .faq-list_item-title {
  font-size: 18px;
  color: #000;
  line-height: 24px;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
.block .faq-list_item-text {
  display: none;
  margin-top: 20px;
  float: left;
  width: 100%;
}
.block .faq-list_item.open .faq-list_item-trigger .hiden {
  display: block;
}
.block .faq-list_item.open .faq-list_item-trigger .shown {
  display: none;
}
.years,
.pages {
  float: left;
  width: 100%;
  margin-left: -5px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #67cff4;
}
.years-link,
.pages-link {
  display: inline-block;
  margin: 0 5px;
  padding: 0 7px;
  line-height: 26px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none !important;
  color: #000;
}
.years-link:hover,
.pages-link:hover {
  color: #3276da;
  text-decoration: none !important;
}
.years-link__active,
.pages-link__active {
  color: #fff;
  background-color: #2d73dd;
  -webkit-box-shadow: inset 1px 1px 3px rgba(12,51,115,0.97);
  box-shadow: inset 1px 1px 3px rgba(12,51,115,0.97);
}
.years-link__active:hover,
.pages-link__active:hover {
  color: #fff;
}
.side h4 {
  margin-bottom: 25px;
  font-size: 18px;
}
.side p + h4 {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #67cff4;
}
.pages {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 30px;
}
.toolbar .pages {
  margin-top: 0;
}
.pages + .ask {
  margin-top: 40px;
  max-width: 170px;
}
.pages-link {
  padding: 0 10px;
}
.toolbar {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 25px;
  border-top: 1px solid #67cff4;
  border-bottom: 1px solid #67cff4;
  line-height: 31px;
  font-size: 13px;
}
.toolbar .no-padding {
  padding-left: 7px;
}
.toolbar .pages {
  margin-top: 3px;
}
.toolbar .select {
  float: left;
  width: 100%;
  position: relative;
}
.toolbar .select .trigger {
  -webkit-border-radius: 0;
  border-radius: 0;
  position: absolute;
  top: 12px;
  right: 10px;
  max-width: 11px;
}
.toolbar .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  height: 31px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  float: left;
  width: 100%;
  line-height: 31px;
  font-size: 13px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
  padding: 0 10px;
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.3), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.3), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  background: -webkit-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -moz-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -o-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -ms-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: linear-gradient(to top, #b5c1cd 0%, #d3dde7 100%);
}
.catalog-sections__side {
  float: left;
  width: 100%;
}
.catalog-sections__side-title {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
  float: left;
}
.block .catalog-sections__side-title {
  text-decoration: none;
}
.catalog-sections__side .catalog-sections__side-item + .catalog-sections__side-title {
  margin-top: 35px;
}
.catalog-sections__side-item {
  float: left;
  width: 100%;
  min-height: 54px;
  line-height: 53px;
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.3), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.3), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  background: -webkit-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -moz-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -o-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -ms-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: linear-gradient(to top, #b5c1cd 0%, #d3dde7 100%);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 5px;
}
.catalog-sections__side-item_icon {
  float: left;
  width: 69px;
  height: 57px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 57px;
}
.catalog-sections__side-item_icon svg {
  vertical-align: middle;
  display: inline-block;
}
.catalog-sections__side-item_icon svg g,
.catalog-sections__side-item_icon svg path {
  fill: #2c3b4c;
}
.catalog-sections__side-item_text {
  display: inline-block;
  line-height: 16px;
  color: #243747;
  max-width: 70%;
  vertical-align: middle;
}
.catalog-sections__side-item__active {
  background: #2d73dd;
  -webkit-box-shadow: inset 1px 2px 7px rgba(12,51,115,0.97);
  box-shadow: inset 1px 2px 7px rgba(12,51,115,0.97);
}
.catalog-sections__side-item__active .catalog-sections__side-item_icon svg {
  vertical-align: middle;
  display: inline-block;
}
.catalog-sections__side-item__active .catalog-sections__side-item_icon svg g,
.catalog-sections__side-item__active .catalog-sections__side-item_icon svg path {
  fill: #fff;
}
.catalog-sections__side-item__active .catalog-sections__side-item_text {
  color: #fff;
}
.tabs .catalog-sections__side {
  margin-bottom: 0px;
}
.banners {
  float: left;
  width: 100%;
  margin: 10px 0;
}
.banners + .widget {
  margin-top: 0;
}
.banners a {
  float: left;
  width: 100%;
  margin: 20px 0;
}
.promo {
  float: left;
  width: 100%;
  position: relative;
/*
		.content
			float left
			width 300px
			height 175px
			position relative
			margin-left 38px
			margin-top 50px
			h1
				
			.button
				position absolute
				left 0
				bottom 0
				blue-gradient()
				width 144px
				height 41px
				line-height 41px
	*/
}
.promo > .row {
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(71,121,172,0.5);
  box-shadow: 0 0 10px rgba(71,121,172,0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}
.promo > .row > div {
  padding: 0;
}
.promo > .row > div.col-md-9 {
  padding-left: 10px;
}
.promo--hover {
  z-index: 50;
}
.promo--hover .promo__banner {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.promo__banner {
  float: left;
  width: 100%;
  position: relative;
  z-index: 20;
  height: 145px;
  color: #fff;
  text-decoration: none;
  padding-left: 27px;
  padding-top: 20px;
  background: #00519f url("../images/promo-bg.jpg") center center no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.promo__banner:first-of-type {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 1px solid #2565aa;
}
.promo__banner:last-of-type {
  border-top: 1px solid #003784;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.promo__banner-title {
  font-size: 30px;
  line-height: 26px;
  margin-bottom: 8px;
}
.promo__banner-description {
  font-size: 13px;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  line-height: 14px;
}
.promo__banner:hover {
  text-decoration: none;
  color: #fff;
}
.promo__banner--hover {
  background: #97adbb;
  color: #383b40 !important;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}
.promo .resp_slider {
  float: left;
  width: 100%;
  background: #fff !important;
  height: 290px;
}
.promo .resp_slider .item {
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-family: 'MainFont', 'Helvetica Neue', 'Arial', sans-serif;
}
.promo .resp_slider .item .content {
  width: 90%;
}
.promo .resp_slider .item .content h1 {
  max-width: 300px;
  font-size: 23px;
  line-height: 23px;
  font-weight: normal;
}
.promo .resp_slider .item .content .button {
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #3c3c3c;
  cursor: pointer;
  text-decoration: none;
  background: -webkit-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -moz-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -o-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -ms-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: linear-gradient(to top, #1055c7 0%, #3f88ec 100%);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  text-transform: normal;
  padding: 11px 20px;
  text-transform: none;
  min-width: 144px;
}
.promo .resp_slider .item .content .button:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
  box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
}
.promo .resp_slider .item .content .button:focus {
  color: #fff;
}
.promo-slide {
  position: absolute;
  width: 800px;
  display: none;
  padding: 15px 22px 15px 30px !important;
  height: 290px;
  background: #96adbc;
  top: 10px;
  right: -5px;
  -webkit-border-radius: 0 7px 7px 0;
  border-radius: 0 7px 7px 0;
}
.promo-slide .row {
  margin-bottom: 15px;
}
.promo-slide .row > div {
  padding: 0 7px;
}
.promo-slide:after {
  position: absolute;
  width: 9px;
  height: 290px;
  left: 7px;
  top: 0;
  content: "";
  background: url("../images/shadow.png") center center no-repeat;
}
.promo-slide-item {
  float: left;
  width: 100%;
  cursor: pointer;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  height: 123px;
  text-align: center;
  background: -webkit-linear-gradient(bottom, #d3dde9 0%, #b4c0cd 100%);
  background: -moz-linear-gradient(bottom, #d3dde9 0%, #b4c0cd 100%);
  background: -o-linear-gradient(bottom, #d3dde9 0%, #b4c0cd 100%);
  background: -ms-linear-gradient(bottom, #d3dde9 0%, #b4c0cd 100%);
  background: linear-gradient(to top, #d3dde9 0%, #b4c0cd 100%);
}
.promo-slide-item_title {
  float: left;
  width: 100%;
  padding: 0 10px;
  color: #000;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
  height: 40px;
  margin-top: -2px;
  line-height: 40px;
}
.promo-slide-item_title span {
  display: inline-block;
  vertical-align: middle;
  line-height: 15px;
}
.promo-slide-item_image {
  float: left;
  width: 100%;
  height: 67px;
  margin-top: 10px;
  -webkit-background-size: auto 65%;
  -moz-background-size: auto 65%;
  background-size: auto 65%;
  background-position: center center;
  background-repeat: no-repeat;
}
.promo-slide-item_image--height {
  -webkit-background-size: auto 90%;
  -moz-background-size: auto 90%;
  background-size: auto 90%;
}
.promo-slide-item--small {
  height: 81px;
  line-height: 81px;
}
.promo-slide-item--small .promo-slide-item_image {
  width: 35%;
  -webkit-background-size: 85% auto;
  -moz-background-size: 85% auto;
  background-size: 85% auto;
  left: 5px;
  position: relative;
}
.promo-slide-item--small .promo-slide-item_title {
  width: 65%;
  height: 81px;
  line-height: 81px;
  font-size: 13px;
}
.promo-slide-item:hover {
  background: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0,84,188,0.7), inset 0 0 0 1px rgba(0,84,188,0.5);
  box-shadow: 0 0 8px rgba(0,84,188,0.7), inset 0 0 0 1px rgba(0,84,188,0.5);
}
.bg-fade {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.75);
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.bg-fade.in {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 30;
}
.dropdown__catalog {
  display: none;
  position: absolute;
  width: 100%;
  top: 176px;
  z-index: 35;
  left: 0;
}
.dropdown__catalog .dropdown__catalog-frame {
  display: none;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(71,121,172,0.5);
  box-shadow: 0 0 10px rgba(71,121,172,0.5);
  padding: 13px 25px 25px;
}
.dropdown__catalog .row {
  padding: 0 5px;
}
.dropdown__catalog .row + .row {
  padding-top: 20px;
}
.dropdown__catalog .row > div {
  padding: 0 10px;
}
.dropdown__catalog-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}
.dropdown__catalog-title a {
  color: #333;
}
.dropdown__catalog-trigger {
  position: absolute;
  left: 180px;
  font-size: 19px;
  color: #fff;
  text-align: center;
  padding-top: 3px;
  top: -50px;
  width: 198px;
  height: 50px;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #2d73dd;
  -webkit-box-shadow: inset 1px 1px 3px rgba(12,51,115,0.97);
  box-shadow: inset 1px 1px 3px rgba(12,51,115,0.97);
}
.dropdown__catalog-trigger:hover {
  color: #fff;
  text-decoration: none;
}
.dropdown__catalog-item {
  float: left;
  width: 100%;
  height: 95px;
  line-height: 93px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  background: -webkit-linear-gradient(bottom, #d3dde9 0%, #b4c0cd 100%);
  background: -moz-linear-gradient(bottom, #d3dde9 0%, #b4c0cd 100%);
  background: -o-linear-gradient(bottom, #d3dde9 0%, #b4c0cd 100%);
  background: -ms-linear-gradient(bottom, #d3dde9 0%, #b4c0cd 100%);
  background: linear-gradient(to top, #d3dde9 0%, #b4c0cd 100%);
  font-size: 14px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
}
.dropdown__catalog-item_image {
  height: 95px;
  width: 125px;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
}
.dropdown__catalog-item_title {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  color: #000;
  width: 45%;
  line-height: 17px;
}
.dropdown__catalog-item:hover {
  background: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0,84,188,0.7), inset 0 0 0 1px rgba(0,84,188,0.5);
  box-shadow: 0 0 8px rgba(0,84,188,0.7), inset 0 0 0 1px rgba(0,84,188,0.5);
}
.widget {
  float: left;
  width: 100%;
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.3), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.3), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  background: -webkit-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -moz-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -o-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -ms-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: linear-gradient(to top, #b5c1cd 0%, #d3dde7 100%);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-top: 28px;
  padding: 20px;
}
.widget img {
  max-width: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 5px;
}
.widget p {
  line-height: 17px;
}
.widget h3 {
  margin-top: 0;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 20px;
}
.widget a {
  text-decoration: underline;
}
.widget a.button {
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #3c3c3c;
  cursor: pointer;
  text-decoration: none;
  background: -webkit-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -moz-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -o-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -ms-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: linear-gradient(to top, #1055c7 0%, #3f88ec 100%);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  height: 42px;
  line-height: 42px;
  float: left;
  width: 100%;
  margin-top: 10px;
}
.widget a.button:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
  box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
}
.widget a.button:focus {
  color: #fff;
}
.features {
  float: left;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.3), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.3), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  background: -webkit-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -moz-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -o-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: -ms-linear-gradient(bottom, #b5c1cd 0%, #d3dde7 100%);
  background: linear-gradient(to top, #b5c1cd 0%, #d3dde7 100%);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 25px;
  height: 360px;
}
.features__item {
  height: 320px;
}
.features__item > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.features__item-image {
  float: left;
  width: 100%;
  height: 360px;
  background-position: top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.features__item-content {
  padding: 18px 20px;
  height: 324px;
  float: left;
  width: 100%;
  position: relative;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
}
.features__item-content_number {
  line-height: 105px;
}
.features__item-content_number img {
  vertical-align: middle;
}
.features__item-content_footer {
  position: absolute;
  bottom: 10px;
  left: 20px;
  max-width: 80%;
}
.features__item-content p {
  font-size: 14px;
  line-height: 18px;
}
.features__item-content h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 23px;
}
.features_list {
  margin-bottom: 40px;
}
.features_list p {
  width: 93%;
}
.features_list p strong a {
  color: #000;
}
.features_list p strong a:hover {
  color: #0c5aba;
}
.features_list p.highlight {
  margin-top: 0;
  line-height: 19px;
  margin-bottom: 13px;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
.tabs {
  margin: 25px 0;
  float: left;
  width: 100%;
}
.tabs__frame {
  margin-right: -15px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: -15px;
  background: #f4f6fa;
  -webkit-box-shadow: 0 0 10px rgba(71,121,172,0.5);
  box-shadow: 0 0 10px rgba(71,121,172,0.5);
  min-height: 100px;
}
.tabs__title-link {
  background: -webkit-linear-gradient(bottom, #d3dde9 0%, #b1c2cd 100%);
  background: -moz-linear-gradient(bottom, #d3dde9 0%, #b1c2cd 100%);
  background: -o-linear-gradient(bottom, #d3dde9 0%, #b1c2cd 100%);
  background: -ms-linear-gradient(bottom, #d3dde9 0%, #b1c2cd 100%);
  background: linear-gradient(to top, #d3dde9 0%, #b1c2cd 100%);
  float: left;
  cursor: pointer;
  width: 33.333333333333336%;
  height: 41px;
  line-height: 41px;
  position: relative;
  padding-left: 30px;
  font-size: 20px;
  color: #3f5067;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
}
.tabs__title-link:hover {
  text-decoration: none;
  color: #3f5067;
}
.tabs__title-link:after {
  position: absolute;
  height: 56px;
  top: -14px;
  width: 50px;
  left: -25px;
  z-index: 2;
  content: "";
  background: transparent url("../images/tabs.jpg") top left no-repeat;
}
.tabs__title-link--active {
  background: #f4f6fa;
}
.tabs__title-link--active + .tabs__title-link:after {
  background-position: 0 -110px;
}
.tabs__title-link--active:after {
  background-position: 0 -55px;
}
.tabs__title-link:first-of-type {
  border-top-left-radius: 10px;
  padding-left: 30px;
}
.tabs__title-link:first-of-type:after {
  display: none;
}
.tabs__title-link:first-of-type.tabs__title-link--active:after {
  background-position: 0 -110px !important;
  z-index: 3;
  display: block;
  left: auto;
  right: -25px;
}
.tabs__title-link:last-of-type {
  border-top-right-radius: 10px;
}
.tabs__title--catalog .tabs__title-link {
  width: 50%;
}
.tabs__content {
  float: left;
  width: 100%;
  padding: 25px 30px;
  display: none;
}
.tabs__content.visible {
  display: block;
}
.tabs__content--active {
  display: block;
}
.tabs__content .content {
  min-height: 1032px;
  padding-left: 45px;
}
.tabs__content .content:after {
  position: absolute;
  left: 15px;
  top: 0;
  height: 100%;
  content: "";
  border-right: 1px #becbd7 solid;
}
.tabs__content .content h2 {
  margin-top: 0;
  font-size: 24px;
}
.tabs__content .content a.button {
  height: 30px;
  line-height: 30px;
  float: left;
  width: 100%;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #3c3c3c;
  cursor: pointer;
  text-decoration: none;
  background: -webkit-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -moz-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -o-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -ms-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: linear-gradient(to top, #1055c7 0%, #3f88ec 100%);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  float: right;
  max-width: 80%;
}
.tabs__content .content a.button:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
  box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
}
.tabs__content .content a.button:focus {
  color: #fff;
}
.tabs__content .content .row--title {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.tabs__content .content .catalog__list + .row--title {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #5bc5e7;
}
.insert {
  float: left;
  width: 100%;
  margin: 30px 0;
}
.catalog__list {
  float: left;
  width: 100%;
}
.catalog__list .row+.row {
  margin-top: 20px;
}
.catalog__list-item {
  float: left;
  width: 100%;
  -webkit-box-shadow: inset 0 0 0 1px #cfdbe5;
  box-shadow: inset 0 0 0 1px #cfdbe5;
  background: #fff;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  -ms-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 15px;
  text-decoration: none !important;
}
.catalog__list-item:hover {
  text-decoration: none;
  -webkit-box-shadow: inset 0 0 0 0px #cfdbe5, 0 0 10px rgba(12,79,193,0.95);
  box-shadow: inset 0 0 0 0px #cfdbe5, 0 0 10px rgba(12,79,193,0.95);
}
.catalog__list-item_image {
  float: left;
  width: 100%;
  height: 147px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.catalog__list-item_type,
.catalog__list-item_props {
  font-size: 12px;
  line-height: 14px;
  color: #7a7a7a;
}
.catalog__list-item_name {
  margin-top: 3px;
  font-weight: bold;
  color: #000;
  min-height: 40px;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 8px;
}
.leasing-content {
  display: none;
}
.leasing-content--active {
  display: block;
}
.catalog-sections {
  float: left;
  width: 100%;
  background: #d5e0e8;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,0.05);
  box-shadow: inset 0 5px 15px rgba(0,0,0,0.05);
  min-height: 100px;
  padding: 30px 0;
  margin-top: 25px;
}
.catalog-sections .row {
  position: relative;
  left: 60px;
}
.catalog-sections_link {
  float: left;
  clear: both;
  text-decoration: underline;
  color: #293445;
  margin-bottom: 7px;
  line-height: 16px;
  max-width: 90%;
}
.catalog-sections_title {
  float: left;
  clear: both;
  font-weight: bold;
  margin-bottom: 7px;
  font-size: 19px;
  color: #0078d2;
}
.catalog-sections_call {
  float: left;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  color: #1d2a3a;
  text-align: center;
  border-top: 1px solid #b7cde2;
  margin-top: 30px;
  line-height: 35px;
  padding-top: 20px;
}
.catalog-sections_call a {
  color: #1d2a3a;
}
.catalog-sections_call a:hover {
  color: #1e82c5;
  text-decoration: none;
}
.catalog-sections_call a[href^="tel"] {
  font-size: 39px;
  line-height: 50px;
}
.footer {
  float: left;
  width: 100%;
  min-height: 131px;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,0.08);
  box-shadow: inset 0 5px 15px rgba(0,0,0,0.08);
  background: #475068;
  color: #c3d7e9;
  font-size: 12px;
  padding: 30px 0;
}
.footer .padding {
  position: relative;
  left: 138px;
}
.footer a {
  color: #c3d7e9;
}
.footer a:hover {
  color: #c3d7e9;
}
.modal-dialog {
  width: 675px;
}
.modal-dialog .modal-content {
  border: 0;
  padding: 10px 30px 25px;
}
.modal-dialog .modal-content .close {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: absolute;
  top: 15px;
  right: 15px;
}
.modal-dialog .modal-content .success {
  display: none;
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
.modal-dialog .modal-content .success h3 {
  margin-bottom: 15px;
}
.modal-dialog .modal-content small {
  line-height: 15px;
  float: left;
}
.modal-dialog .modal-content h3 {
  color: #1d2a3a;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.modal-dialog .modal-content .row {
  margin-bottom: 5px;
}
.modal-dialog .modal-content label {
  font-size: 14px;
  line-height: 31px;
  font-weight: normal;
}
.modal-dialog .modal-content label span {
  display: inline-block;
  line-height: 20px;
}
.modal-dialog .modal-content a.refresh,
.modal-dialog .modal-content .here {
  line-height: 31px;
}
.modal-dialog .modal-content a.refresh {
  margin-left: -3px;
  line-height: 34px;
}
.modal-dialog .modal-content small.info {
  float: left;
  font-size: 12px;
  margin-top: 40px;
}
.modal-dialog .modal-content .here {
  margin-left: -20px;
  font-size: 14px;
  line-height: 37px;
}
.modal-dialog .modal-content .captcha_img {
  border: 1px solid #ccc;
}
.modal-dialog .modal-content p {
  font-size: 14px;
  float: left;
  width: 100%;
  margin-top: 4px;
}
.modal-dialog .modal-content input[name="captcha"] {
  margin-top: 5px;
}
.modal-dialog .modal-content input[type="submit"] {
  float: left;
  width: 178px;
  margin-top: 5px;
  height: 40px;
  line-height: normal;
  font-weight: bold;
  border: 0;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #3c3c3c;
  cursor: pointer;
  text-decoration: none;
  background: -webkit-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -moz-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -o-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -ms-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: linear-gradient(to top, #1055c7 0%, #3f88ec 100%);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
}
.modal-dialog .modal-content input[type="submit"]:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
  box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
}
.modal-dialog .modal-content input[type="submit"]:focus {
  color: #fff;
}
.modal-dialog .modal-content .captcha {
  max-width: 178px;
  border: 1px solid #dadada;
}
.modal-dialog .modal-content input[type="email"],
.modal-dialog .modal-content input[type="text"],
.modal-dialog .modal-content textarea {
  float: left;
  width: 100%;
  background: #ececec;
  border: 0;
  resize: none;
  max-width: 100%;
  height: 31px;
  line-height: 31px;
  color: #3c434b;
  font-size: 14px;
  padding: 0 10px;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
.modal-dialog .modal-content input[type="email"]:focus,
.modal-dialog .modal-content input[type="text"]:focus,
.modal-dialog .modal-content textarea:focus {
  outline: 0;
}
.modal-dialog .modal-content input[type="email"].parsley-error,
.modal-dialog .modal-content input[type="text"].parsley-error,
.modal-dialog .modal-content textarea.parsley-error {
  border: 1px solid #f00;
}
.modal-dialog .modal-content .parsley-errors-list {
  display: none;
}
.modal-dialog .modal-content textarea {
  height: 137px;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.chosen-drop {
  position: absolute;
  display: none;
  background-color: #e9edf3;
  float: left;
  width: 100%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-top: 5px;
  top: 19px;
  z-index: 2;
  -webkit-box-shadow: inset 1px 1px 0 rgba(11,16,53,0.35);
  box-shadow: inset 1px 1px 0 rgba(11,16,53,0.35);
}
.chosen-results {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chosen-results li {
  font-size: 13px;
  padding: 4px 10px;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
  color: #000;
  -webkit-transition-property: color, background;
  -moz-transition-property: color, background;
  -o-transition-property: color, background;
  -ms-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.chosen-results li:hover {
  background: #0077de;
  color: #fff;
}
.chosen-results li:last-of-type {
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.chosen-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  height: 23px;
}
.chosen-single {
  display: inline-block;
  position: relative;
  z-index: 3;
  vertical-align: top;
  background-color: #e9edf3;
  text-align: left;
  padding: 0 10px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(11,16,53,0.35);
  box-shadow: inset 1px 1px 0 rgba(11,16,53,0.35);
  font-size: 13px;
  color: #2a3445;
  width: 100%;
  height: 23px;
  line-height: 23px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.chosen-single > div {
  position: absolute;
  top: 1px;
  right: 0;
  width: 24px;
  height: 22px;
  background: url("../images/arrow-bottom.png") center center no-repeat;
}
.chosen-single > div b {
  position: absolute;
  left: 33px;
  width: 15px;
  height: 22px;
  background: url("../images/arrow-right.png") center center no-repeat;
}
.chosen-single:hover {
  color: #2a3445;
  text-decoration: none;
}
.chosen-search {
  display: none;
}
#bx-composite-banner {
  float: left;
  margin-top: 15px;
}
.product {
  float: left;
  width: 100%;
}
.product .side p {
  font-size: 12px;
  color: #515050;
}
.product .side ul,
.product .side ol {
  padding-left: 20px;
}
.product .side ul li,
.product .side ol li {
  font-size: 12px;
}
.product h1 {
  font-size: 23px;
  margin-top: -8px;
}
a.print {
  float: left;
  width: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #8896a0;
  font-size: 12px;
  color: #8896a0;
  line-height: 32px;
  height: 32px;
  text-align: center;
  margin-top: -10px;
  text-decoration: none !important;
}
a.print svg {
  max-width: 16px;
  position: relative;
  top: -1px;
  max-height: 16px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
a.print svg g,
a.print svg path {
  fill: #8896a0;
}
.price {
  width: 170px;
  float: right;
  height: 125px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 12px;
  position: relative;
  background-color: #dae1e7;
}
.price-title {
  font-size: 14px;
  color: #444f57;
  float: left;
  width: 100%;
  margin-bottom: 2px;
  text-align: center;
}
.price-value,
.price-old {
  text-align: center;
  font-weight: bold;
  float: left;
  width: 100%;
  font-size: 21px;
  padding-top: 5px;
  text-shadow: 1px 1px 0 rgba(247,250,252,0.5);
}
.price-old {
  font-size: 15px;
  color: #9da5ab;
  text-decoration: line-through;
}
.price-button {
  float: left;
  width: 100%;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #3c3c3c;
  cursor: pointer;
  text-decoration: none;
  background: -webkit-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -moz-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -o-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -ms-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: linear-gradient(to top, #1055c7 0%, #3f88ec 100%);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  width: 147px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  position: absolute;
  bottom: 12px;
  left: 12px;
}
.price-button:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
  box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
}
.price-button:focus {
  color: #fff;
}
.block .price-button {
  text-decoration: none;
}
.param-block {
  float: left;
  width: 100%;
  border: 1px solid #5e717e;
  padding: 10px 20px 5px 20px;
  margin-top: 20px;
  position: relative;
  font-size: 12px;
}
.param-block--no-title {
  padding-bottom: 10px;
}
.param-block .row {
  line-height: 25px;
}
.param-block .row > div {
  padding: 0;
}
.param-block .row+.row {
  border-top: 1px solid #eaedef;
}
.param-block_title {
  background: #fff;
  display: block;
  padding: 0 3px;
  position: absolute;
  left: 7px;
  top: -8px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.sub-tabs {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.sub-tabs_title {
  float: left;
  width: 100%;
  border-bottom: 1px solid #5e717e;
}
.sub-tabs_content {
  float: left;
  width: 100%;
  display: none;
}
.sub-tabs_content--active {
  display: block;
}
.sub-tabs a {
  width: 50%;
  line-height: 40px;
  height: 40px;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #dae1e7;
  font-weight: bold;
  padding-left: 20px;
  float: left;
  text-decoration: none;
  color: #000;
  font-size: 17px;
  color: #1e2f53;
}
.sub-tabs a.sub-tabs_title__active {
  background: #606a7e;
  color: #fff;
}
.params {
  float: left;
  margin-bottom: 35px;
}
.params-item {
  float: left;
  width: 99px;
  height: 125px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #dae1e7;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: #8a94a1;
  margin-right: 3px;
}
.params-item-value {
  height: 28px;
  line-height: 28px;
  color: #000;
  font-size: 12px;
}
.params-item-title {
  height: 97px;
  line-height: 101px;
  float: left;
  width: 100%;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.params-item-title_content {
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.params-item-title svg {
  max-width: 36px;
  height: 36px;
}
.params-item-title svg g,
.params-item-title svg path {
  fill: #484f58;
}
.contacts h2 {
  font-size: 20px;
}
.divider {
  float: left;
  width: 100%;
  margin: 35px 0;
  border-bottom: 1px solid #5bc5e7;
}
.gallery {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
.gallery .big a {
  float: left;
  width: 100%;
  height: 245px;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
}
.gallery .big a img {
  display: none;
  max-width: 100%;
}
.gallery .big a.active {
  display: block;
}
.gallery .slider {
  float: left;
  width: 100%;
  margin-left: 29px;
  margin-top: 2px;
  width: 272px;
  position: relative;
}
.gallery .slider button {
  width: 29px;
  height: 46px;
  margin: 0;
  background: #c9d7e3;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
}
.gallery .slider button.slick-prev {
  left: -30px;
  border-bottom-left-radius: 5px;
  background-image: url("../images/slider-arrow-l.png");
}
.gallery .slider button.slick-next {
  right: -31px;
  border-bottom-right-radius: 5px;
  background-image: url("../images/slider-arrow-r.png");
}
.gallery .slider button:before {
  content: "";
}
.gallery .slider .item {
  float: left;
  width: 62px;
  height: 46px;
  padding: 0 1px;
}
.gallery .slider .item .image {
  float: left;
  width: 100%;
  cursor: pointer;
  height: 46px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.gallery .slider .item .image.active {
  -webkit-box-shadow: inset 0 0 0 2px #0059c8;
  box-shadow: inset 0 0 0 2px #0059c8;
}
.pp_bottom div,
.pp_top div,
.pp_left,
.pp_right {
  background: #fff !important;
  background-image: none !important;
}
div.pp_pic_holder.pp_default {
  padding-right: 5px;
}
div.pp_default .pp_top .pp_left,
div.pp_default .pp_top .pp_right,
div.pp_default .pp_expand,
div.pp_default .pp_expand:hover,
div.pp_default .pp_contract,
div.pp_default .pp_contract:hover,
div.pp_default .pp_close,
div.pp_default .pp_nav .pp_pause,
div.pp_default a.pp_arrow_next,
div.pp_default .pp_bottom .pp_left,
div.pp_default .pp_bottom .pp_right,
div.pp_default a.pp_arrow_previous,
div.pp_default .pp_nav .pp_play {
  background-image: url("../images/plugins/sprite.png");
}
div.pp_default .pp_top .pp_middle,
div.pp_default .pp_bottom .pp_middle {
  background-image: url("../images/plugins/sprite-x.png");
}
div.pp_default .pp_content_container .pp_left,
div.pp_default .pp_content_container .pp_right {
  background-image: url("../images/plugins/sprite-y.png");
}
div.pp_default .pp_previous:hover {
  background-image: url("../images/plugins/sprite_prev.png");
}
div.pp_default .pp_next:hover {
  background-image: url("../images/plugins/sprite_next.png");
}
div.pp_default .pp_loaderIcon {
  background-image: url("../images/plugins/loader.gif");
}
.map {
  float: left;
  width: 100%;
  height: 600px;
}
ul.nav {
  border: 0;
  margin-bottom: 30px;
}
ul.nav > li,
ul.nav > li.active {
  border: 0;
}
ul.nav > li > a,
ul.nav > li.active > a {
  padding: 0;
  border: 0;
  margin-right: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
ul.nav > li > a:hover,
ul.nav > li.active > a:hover {
  background: transparent;
  border: 0;
  color: #0056b4;
}
ul.nav > li.active > a {
  text-decoration: none !important;
  color: #0056b4;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.small-margin-top {
  margin-top: 15px !important;
}
.small-margin-bottom {
  margin-bottom: 15px !important;
}
.search-page {
  float: left;
  width: 100%;
}
.search-page__title {
  font-size: 18px;
}
.search-page__form {
  float: left;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 30px;
  border-top: 1px solid #6ccff2;
  border-bottom: 1px solid #6ccff2;
}
.search-page__form-text {
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0 15px;
}
.search-page__form-submit {
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #3c3c3c;
  cursor: pointer;
  text-decoration: none;
  background: -webkit-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -moz-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -o-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: -ms-linear-gradient(bottom, #1055c7 0%, #3f88ec 100%);
  background: linear-gradient(to top, #1055c7 0%, #3f88ec 100%);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 1px 0 rgba(255,255,255,0.1), inset 0 -2px 1px 0 rgba(0,0,0,0.1);
  height: 28px;
  padding: 0 20px;
  line-height: normal;
  border: 0;
}
.search-page__form-submit:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
  box-shadow: inset 0 10px 15px rgba(101,166,255,0.5);
}
.search-page__form-submit:focus {
  color: #fff;
}
body.print {
  background: transparent;
  color: #000 !important;
}
body.print .note {
  float: left;
  width: 100%;
  margin: 20px 0 0;
}
body.print hr {
  background: #bfbfbf;
  float: left;
  width: 100%;
  margin: 30px 0 0;
}
body.print .product .gallery {
  margin-bottom: 30px;
}
body.print .product p.small {
  font-size: 14px;
}
body.print .product .params {
  margin-bottom: 15px;
}
body.print .product h1 {
  margin-top: 30px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
body.print .product .param-block {
  padding: 15px 30px 10px 30px;
}
body.print .product .price {
  width: 100%;
  text-align: left;
  padding-top: 0;
}
body.print .product .price-value {
  text-align: left;
  font-size: 32px;
}
body.print .container {
  max-width: none;
}
body.print .header__search,
body.print .header__call,
body.print a.print,
body.print .back,
body.print .sub-tabs_title,
body.print .price-button,
body.print .news-list_item-back {
  display: none;
}
body.print a:after,
body.print a:before {
  content: none !important;
  display: none !important;
}
body.print .sub-tabs_content {
  display: block !important;
}
body.print .params-item-title {
  border-bottom: 1px solid #dae1e7;
}
body.print .params-item {
  background: transparent;
  color: #000 !important;
  border: 1px solid #dae1e7;
}
body.print .header__contacts {
  position: relative;
  left: 220px;
}
body.print .catalog-sections {
  display: none;
  margin: 0 !important;
  border: 0 !important;
}
body.print .catalog-sections {
  padding-top: 30px;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.print .param-block_title {
  background: #fff !important;
}
body.print .navbar,
body.print .catalog-sections > .container {
  display: none;
}
body.print .footer {
  border-top: 1px solid #dae1e7;
}
body.print .block,
body.print .tabs__frame,
body.print .promo > .row,
body.print .price,
body.print .footer {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
body.print .catalog-sections_call a,
body.print .catalog-sections_call span {
  text-align: center;
  float: left;
  width: 100%;
}
body.print .gallery .big a:nth-child(0),
body.print .gallery .big a:nth-child(1),
body.print .gallery .big a:nth-child(2),
body.print .gallery .big a:nth-child(3) {
  display: block;
}
body.print .gallery .big a img {
  display: block;
}
@media print {
  body {
    background: transparent;
    color: #000 !important;
  }
  .container {
    max-width: none;
  }
  .header__search,
  .header__call,
  a.print,
  .back,
  .sub-tabs_title,
  .price-button,
  .news-list_item-back {
    display: none;
  }
  a:after,
  a:before {
    content: none !important;
    display: none !important;
  }
  .sub-tabs_content {
    display: block !important;
  }
  .params-item-title {
    border-bottom: 1px solid #dae1e7;
  }
  .params-item {
    background: transparent;
    color: #000 !important;
    border: 1px solid #dae1e7;
  }
  .header__contacts {
    position: relative;
    left: 220px;
  }
  .catalog-sections {
    display: none;
    margin: 0 !important;
    border: 0 !important;
  }
  .catalog-sections {
    padding-top: 30px;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .param-block_title {
    background: #fff !important;
  }
  .navbar,
  .catalog-sections > .container {
    display: none;
  }
  .footer {
    border-top: 1px solid #dae1e7;
  }
  .block,
  .tabs__frame,
  .promo > .row,
  .price,
  .footer {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }
  .catalog-sections_call a,
  .catalog-sections_call span {
    text-align: center;
    float: left;
    width: 100%;
  }
  .gallery .big a:nth-child(0),
  .gallery .big a:nth-child(1),
  .gallery .big a:nth-child(2),
  .gallery .big a:nth-child(3) {
    display: block;
  }
  .gallery .big a img {
    display: block;
  }
}
