.catalog-sections__side
	a(href="#").catalog-sections__side-title Новая техника
	a(href="#").catalog-sections__side-item
		.catalog-sections__side-item_icon
			include ../../../public_html/layout/images/svg/p-1.svg
		.catalog-sections__side-item_text Автокраны
	a(href="#").catalog-sections__side-item
		.catalog-sections__side-item_icon
			include ../../../public_html/layout/images/svg/p-2.svg
		.catalog-sections__side-item_text Мусоровозы, бункеровозы
	a(href="#").catalog-sections__side-item
		.catalog-sections__side-item_icon
			include ../../../public_html/layout/images/svg/p-3.svg
		.catalog-sections__side-item_text Краны-манипуляторы
	a(href="#").catalog-sections__side-item
		.catalog-sections__side-item_icon
			include ../../../public_html/layout/images/svg/p-4.svg
		.catalog-sections__side-item_text Легкие коммерческие автомобили
	a(href="#").catalog-sections__side-title Б/у техника
	a(href="#").catalog-sections__side-item
		.catalog-sections__side-item_icon
			include ../../../public_html/layout/images/svg/p-5.svg
		.catalog-sections__side-item_text Седельные тягачи
	a(href="#").catalog-sections__side-item
		.catalog-sections__side-item_icon
			include ../../../public_html/layout/images/svg/p-6.svg
		.catalog-sections__side-item_text Самосвалы
	a(href="#").catalog-sections__side-item
		.catalog-sections__side-item_icon
			include ../../../public_html/layout/images/svg/p-7.svg
		.catalog-sections__side-item_text Бортовые грузовики, фургоны
	a(href="#").catalog-sections__side-item
		.catalog-sections__side-item_icon
			include ../../../public_html/layout/images/svg/p-8.svg
		.catalog-sections__side-item_text Прицепы, полуприцепы
	a(href="#").catalog-sections__side-item
		.catalog-sections__side-item_icon
			include ../../../public_html/layout/images/svg/p-9.svg
		.catalog-sections__side-item_text Дорожно-строительная спецтехника
	a(href="#").catalog-sections__side-item
		.catalog-sections__side-item_icon
			include ../../../public_html/layout/images/svg/p-4.svg
		.catalog-sections__side-item_text Легковые автомобили, микроавтобусы
	a(href="#").catalog-sections__side-item
		.catalog-sections__side-item_icon
			include ../../../public_html/layout/images/svg/p-10.svg
		.catalog-sections__side-item_text Оборудование, прочее