include includes/header

nav.navbar
	.row.no-padding
		.col-md-12.col-xs-12
			a(href="typical.html").navbar-item О компании             
			a(href="catalog.html").navbar-item.navbar-item--dropdown Каталог спецтехники             
			a(href="#").navbar-item Лизинг             
			a(href="#").navbar-item Выкуп б/у техники             
			a(href="#").navbar-item Техника на заказ             
			a(href="contacts.html").navbar-item Контакты

.frame.clearfix
	.block.main
		.row
			.col-md-9.col-xs-9.content
				h1 О компании
				.row
					.col-md-5
						img(src="./layout/images/pic.png")
					.col-md-7
						p.highlight ООО «Аскет-Авто» плодотворно работает на рынке с 2007 года, осуществляя продажу и выкуп б/у автотранспорта и спецтехники. Компания предлагает большой ассортимент различных марок и моделей по ценам ниже рыночных.<br>  Сотрудники «Аскет-Авто» — это высококвалифицированные менеджеры, способные ответить на любые вопросы клиента.

				h2 Преимущества приобретения подержанной<br> техники в «Аскет-Авто»:
				.row.features_list
					.col-md-1.center
						img(src="./layout/images/n-1.png").number
					.col-md-5
						p.highlight
							strong Выгодное соотношение цены и состояния техники (бывшей в эксплуатации на территории Европейской части РФ)
						p Из-за благоприятных условий эксплуатации (как правило, на территории Европейской части РФ в собственности одного владельца) наша техника характеризуется отличным состоянием. 
					.col-md-1.center
						img(src="./layout/images/n-2.png").number
					.col-md-5
						p.highlight
							strong 
								a(href="#") Предоставление рассрочки (аренды с выкупом) на покупку б/у автомобилей, техники и оборудования
						p Если наш клиент не имеет возможности выплатить всю стоимость техники сразу, данная услуга поможет совершить покупку на выгодных условиях, не откладывая её на долгий срок. 
				.row.features_list
					.col-md-1.center
						img(src="./layout/images/n-3.png").number
					.col-md-5
						p.highlight
							strong
								a(href="#") Возможность приобретения б/у автомобилей, техники и оборудования в лизинг
						p Для юридических лиц компания предлагает воспользоваться услугой лизинга подержанной техники, которая значительно выгоднее покупки за счёт собственных средств. 
					.col-md-1.center
						img(src="./layout/images/n-4.png").number
					.col-md-5
						p.highlight
							strong Оплата как по наличному, <br>так и безналичному расчёту
						p Каждый наш клиент может осуществить оплату удобным для него способом, расплатившись с компанией наличными или переведя на её счёт необходимую сумму. 
				.row.features_list
					.col-md-1.center
						img(src="./layout/images/n-5.png").number
					.col-md-5
						p.highlight
							strong
								a(href="#") Предлагаемая техника находится<br> на стоянке рядом<br> с офисом
						p Вся техника, которую мы предлагаем приобрести, располагается на стоянке вблизи офиса, и наш клиент беспрепятственно может осмотреть её перед покупкой. 
					.col-md-1.center
						img(src="./layout/images/n-6.png").number
					.col-md-5
						p.highlight
							strong Прямое приобретение,<br> без всяких посредников 
						p Наша техника является собственностью одного владельца, что значительно облегчает для клиента её приобретение и даёт возможность проследить её историю эксплуатации и юридическую прозрачность. 
				.row.features_list
					.col-md-1.center
						img(src="./layout/images/n-7.png").number
					.col-md-5
						p.highlight
							strong
								a(href="#") Удобное расположение <br>офиса компании
						p Наш офис находится недалеко от метро, в пяти минутах ходьбы. 
					.col-md-1.center
						img(src="./layout/images/n-8.png").number
					.col-md-5
						p.highlight
							strong Доставка техники по запросу <br>в регионы
						p Наша компания располагает возможностью осуществлять доставку техники в регионы.
				h2 Обращайтесь к нам: мы всегда рады сотрудничеству!
			.col-xs-3.col-md-3
				include includes/side

include includes/footer